/* .accordion {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.accordion-title {
    font-weight: bold;
}

.accordion-icon {
    transition: transform 0.3s ease;
}

.accordion-icon.open {
    transform: rotate(180deg);
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.accordion-content.open {
    max-height: 1000px;
    padding: 15px 10px 15px 10px;
    border-top: 1px solid #D3D3D3;


} */




.accordion {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.accordion-title {
    font-weight: bold;
}

.accordion-icon {
    transition: transform 0.3s ease;
}

.accordion-icon.open {
    transform: rotate(180deg);
}

.accordion-content {
    overflow: hidden;
    transition: max-height 0.3s ease;
}

/* Add styles for smooth closing */
.accordion-content:not(.open) {
    max-height: 0 !important;
}